@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;   /* pour que les bordures soient prisent en compte dans mes mesures */
}

body{
    margin: 0px; /* car 8px avec Chrome par défaut */
    font-family: 'Roboto';
}


header{
    font-family:'Shrikhand';
    text-align: center;
    box-shadow: 0px 4px 4px #c5cccc;
    padding: 1.5px;
    position: relative; /* pour qu'il soit au dessus du main */
}

main .ville{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 1px;  
}

h2{
    font-size: 20px;
}

main i{
    margin: 16px;
    font-size: 22px;
}
